
<section class="about-me mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mt-5">
        <h2>About me</h2>
      </div>
      <div class="col-lg-7 mt-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus perferendis quia optio sint omnis! Sapiente mollitia eaque odio necessitatibus itaque esse quam modi, quidem iusto cupiditate dolores reiciendis alias?</p>
        <!-- <input type="file" name=""> -->
        <button class="mt-4 ">Download CV</button>
      </div>
    </div>
  </div>

</section>

